<section class="section-contact" id="contact">
    <div class="container">
        <div class="section-contact-link">
            <a  data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="300" href="#" class="btn btn-border"><i class="icon icon-middle icon-fb"></i>Facebook</a>
            <a  data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="500" href="#" class="btn btn-border"><i class="icon icon-middle icon-tw"></i>Twitter</a>
            <a  data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="700" href="#" class="btn btn-border"><i class="icon icon-middle icon-tg"></i>Telegram</a>
        </div>
        <form class="section-contact-form" data-aos="zoom-in">
            <div class="form-name" >Contact us</div>
            <div class="form-group">
                <div class="form-control-icon right"><a href="#"><i class="icon icon-middle icon-send"></i></a></div>
                <input type="text" class="form-control" placeholder="Enter Your Email">
            </div>
        </form>
        <div class="section-contact-directly">
            <div class="section-contact-directly-text">Or you can contact us directly via</div>
            <div class="section-contact-directly-link block-flex-center">
                <div>
                    <a data-aos="fade-down"
                       data-aos-easing="linear"
                       data-aos-duration="900"  href="#">support@desto.io</a>
                </div>
                <div>
                    <a data-aos="fade-down"
                       data-aos-easing="linear"
                       data-aos-duration="1100"  href="#">apply@desto.io</a>
                </div>
            </div>
        </div>
    </div>
</section>