<div class="section-team">
    <div class="container">
        <div class="section-team-list">
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/1.png" alt=""/></div>
                    <div class="name">Arthur Huis int Veld</div>
                    <div class="position">/ Community President of the DESTO Planet /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/2.png" alt=""/></div>
                    <div class="name">Samuel Law</div>
                    <div class="position">/ Lead Creative Strategist of the Community /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/3.png" alt=""/></div>
                    <div class="name">Tatiana Stepanova</div>
                    <div class="position"> / Content Strategist and Storyteller /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/4.png" alt=""/></div>
                    <div class="name">Andrew Lee Hwan</div>
                    <div class="position"> / Community Technical Advisor and Mentor /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/5.png" alt=""/></div>
                    <div class="name">Sam Chi</div>
                    <div class="position">/ Architect /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/6.png" alt=""/></div>
                    <div class="name">Sergey Valuy</div>
                    <div class="position">/ PM & BA /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/7.png" alt=""/></div>
                    <div class="name">Vitaly Yermakou</div>
                    <div class="position">/ Head of Sales /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
            <div class="section-team-item">
                <div class="section-team-item-body">
                    <div class="image"><img src="images/team/8.png" alt=""/></div>
                    <div class="name">Valeria Volosach</div>
                    <div class="position">/ Marketing Assistant /</div>
                    <div class="text">Very passionate about the future of our next generation, how Blockchain & AI will become the foundation that shapes and transitions humanity into a new world of economic well-being.</div>
                </div>
            </div>
        </div>
    </div>
</div>