<footer class="footer">
  <div class="container">
    <div class="text-center">
      <div class="footer-copy">&copy; 2018 Desto</div>
      <div class="footer-nav block-flex-center">
        <div><a href="#">Privacy Policy</a></div>
        <div><a href="#">Token Sale Terms</a></div>
      </div>
      <div class="footer-text">
        Disclaimer: Notice to Residents of the United States The offer and sale of this coin through the presale or ICO
        is not allowed for the US persons. Any US citizens or residents or their representatives must not purchase the
        coin through the presale or ICO. Please refer to the following website if you are a US person.
        <a href="/"> www.destoventures.com</a>

      </div>
    </div>
  </div>
</footer>