<div class="section-partner">
    <div class="container">
        <div class="section-partner-list">
            <div class="section-partner-item">
                <div class="image"><img src="images/partners/1.png" alt=""/></div>
                <a class="name" target="_blank">Coinmatch — Crypto Exchange Platform</a>
                <div class="text">/ Match-Trade Technologies. LLC /</div>
            </div>
            <div class="section-partner-item">
                <div class="image"><img src="images/partners/2.png" alt=""/></div>
                <a class="name" target="_blank">Smartym Pro</a>
                <div class="text">/ Mobile app development
                    company of skilled specialists passionate
                    about anything high-tech-related /</div>
            </div>
            <div class="section-partner-item">
                <div class="image"><img src="images/partners/3.png" alt=""/></div>
                <a class="name" target="_blank">Tradesto</a>
                <div class="text">/ Independent brokerage /</div>
            </div>
            <div class="section-partner-item">
                <div class="image"><img src="images/partners/4.png" alt=""/></div>
                <a class="name" target="_blank">TF Capital</a>
                <div class="text">/ Independent brokerage /</div>
            </div>
            <div class="section-partner-item">
                <div class="image"><img src="images/partners/5.png" alt=""/></div>
                <a class="name" target="_blank">Asean First Venture</a>
                <div class="text">/ ASEAN First Investors Incubator /</div>
            </div>
        </div>
    </div>
</div>