<section class="distribution">
  <div class="container">
    <div class="distribution-box">
      <div class="distribution_name" data-aos="zoom-in">
        <span>DEO Coin </span>
        Distribution
      </div>
      <div class="distribution_content block-flex-center">
        <div class="distribution_content_item">
          <div class="distribution_content_item_items blue"  data-aos="fade-right" data-aos-duration="300">
            Clients
            <span>48%</span>
          </div>
          <div class="distribution_content_item_items green"  data-aos="fade-right" data-aos-duration="500">
            Founders & Advisers
            <span>25%</span>
          </div>
          <div class="distribution_content_item_items red"  data-aos="fade-right" data-aos-duration="700">
            Merchants
            <span>15%</span>
          </div>
          <div class="distribution_content_item_items black"  data-aos="fade-right" data-aos-duration="900">
            Reserves
            <span>11%</span>
          </div>
        </div>
        <div class="distribution_content_item" data-aos="flip-left"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="1500">
          <img src="images/coints-border.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>