<section class="download">
  <div class="container">
    <div class="download_text" data-aos="zoom-in">
      DESTO aspires to be the gateway to the world of cryptocurrency for the citizens of this planet, every nook and
      corner. From the public, students, to local, national and international enterprising corporations, DESTO offers
      crypto services that are easy, safe and fast. Any individual or collective who believes in the benefits of
      crypto-driven enterprises and banking is welcomed at DESTO.

    </div>
    <div class="download_line">
      <i class="icon icon-middle icon-line"></i>
    </div>
    <div class="download_link">
      <a
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="500"
          href="#" class="btn btn-border"><i class="icon icon-middle icon-download"></i>Download LightPaper</a>
      <a
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="500"
          href="#" class="btn btn-border"><i class="icon icon-middle icon-download"></i>Download WhitePaper</a>
    </div>
  </div>
</section>