<section class="first-block">

  <div class="container">
    <div class="first-block_logo" data-aos="zoom-in">
      <img src="images/logo-blue.png" alt="">
    </div>
    <div class="first-block_text">
      <div data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">Mobile blockchain fintech ecosystem:</div>
      <div data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">fast transactions, easy exit back to fiat</div>
    </div>
    <div>
      <div class="first-block_home-text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">Until DEO sale</div>
      <div class="first-block_timer" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
        <div id="timer" class="timer block-flex-center"></div>
      </div>
      <div class="first-block_text-start" data-aos="zoom-in">
        <div>Start on</div>
        <div>1st May 2018</div>
      </div>
    </div>
  </div>
</section>