<section class="funds">
  <div class="container">
    <div class="funds_content block-flex-top">
      <div class="funds_content_item">
        <div class="funds_content_item_name" data-aos="zoom-in">Funds usage</div>
        <div class="funds_content_item_text">
          <span>Crypto sale will start in the second quarter of 2018 with a $6 Million Softcap. A further $10 million will
          allow us to fully launch our universal mobile crypto-finance platform.</span>
          <span>
            This will involve investing into DESTO’s mining operations; ICO diversification, DESTO VENTURES shortlisting
          pre-qualified new ICOs, consistent with POA protocol for potential underwriting, launch DESTO CX mobile
          exchange, submitting the application for our Japanese Virtual Currency License, and starting development of
          the DESTO community apps. Beyond the Softcap, there are three more milestones to be reached before the Hardcap
          of $43 Million.
         </span>
        </div>
      </div>
      <div class="funds_content_item" data-aos="zoom-out-left" data-aos-duration="1500">
        <img src="images/funds.png" alt="">
      </div>
    </div>
  </div>
</section>