<section class="products">
  <div class="container">
    <div class="products_name" data-aos="zoom-in">PRODUCTS</div>
    <div class="products_content">
      <div class="products_content_item block-flex-center">
        <a href="/" class="products_content_item_logo" data-aos="fade-right" data-aos-duration="1500">
          <i class="icon icon-middle icon-cx"></i>
        </a>
        <div class="products_content_item_text">
          <div class="products_content_item_text_name">
            <span class="gradient-red ">DestoCX:</span>
            Multi cryptocurrency exchange and trading
          </div>
          <div class="products_content_item_text_info">
            a sophisticated crypto currency conversion platform designed with the user in mind. DESTO CX will provide a
            highly accurate, real-time view of the liquidity of the crypto market, backed up by robust engineering and a
            strong platform.
          </div>
        </div>
      </div>
      <div class="products_content_item block-flex-center">
        <div class="products_content_item_logo"  data-aos="fade-left"  data-aos-duration="1500" >
          <a href="/">
            <i class="icon icon-middle icon-pay"></i>
          </a>
        </div>
        <div class="products_content_item_text">
          <div class="products_content_item_text_name">
            <span class="gradient-orange">Desto PAY:</span>
            Efficient P2P payments
          </div>
          <div class="products_content_item_text_info">
            a payment solution, that aims to normalize the everyday use of crypto in retail transactions for the
            purchase of products and services. Users of DESTO PAY will be provided with a DESTO PAY Wallet, to store and
            manage all their crypto assets, and a debit card that they can use to access funds in the wallet.

          </div>
        </div>
      </div>
      <div class="products_content_item block-flex-center">
        <div class="products_content_item_logo" data-aos="fade-right" data-aos-duration="1500">
          <a href="/">
            <i class="icon icon-middle icon-ventures"></i>
          </a>
        </div>
        <div class="products_content_item_text">
          <div class="products_content_item_text_name">
            <span class="gradient-green">Desto Ventures: </span>
            supports the ICO launch with the guaranteed sales
          </div>
          <div class="products_content_item_text_info">
            ICO consulting, ICO venture listing, private sectors and government related blockchain integration projects
            that don’t translate into an ICO.
          </div>
        </div>
      </div>
      <div class="products_content_item block-flex-center">
        <div class="products_content_item_logo" data-aos="fade-left" data-aos-duration="1500">
          <a href="/">
            <i class="icon icon-middle icon-reserve"></i>
          </a>
        </div>
        <div class="products_content_item_text">
          <div class="products_content_item_text_name">
            <span class="gradient-grey">Desto Reserve: </span>
            Сrypto storage to save and invest your cryptocurrency
          </div>
          <div class="products_content_item_text_info">
            it will be focusing on two investing methods: mining and crypto funding
            of new ICOs in accordance to proof of assets protocol.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>