<section class="problems">
  <div class="container">
    <div class="problems_text">
      <span>DESTO Addresses Three Huge Problems, </span>
      <span>Emerging With the Evolution of the Crypto Space</span>
    </div>
    <div class="problems_content block-flex-top">
      <div class="problems_content_item" data-aos="fade-right" data-aos-delay="500">
        <div class="problems_content_item_icon">
          <i class="icon icon-services"></i>
        </div>
        <div class="problems_content_item_text">
          People in rural areas can't <br/>
          get access to the financial<br/>
          services.

        </div>
      </div>
      <div class="problems_content_item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
        <div class="problems_content_item_icon">
          <i class="icon icon-question"></i>
        </div>
        <div class="problems_content_item_text">
          Crypto usability: transactions are slow, people
          don’t understand the technology, complicated
          technical jargons turn people away.
        </div>
      </div>
      <div class="problems_content_item" data-aos="fade-left" data-aos-delay="500">
        <div class="problems_content_item_icon">
          <i class="icon icon-access "></i>
        </div>
        <div class="problems_content_item_text">
          Lack of access to crypto exchange <br/>
          to fiat & to secondary market for the <br/>
          SMEs and SMIs.

        </div>
      </div>
    </div>
  </div>
</section>