<section class="why">
  <div class="container">
    <div class="why_name" data-aos="zoom-in">WHY DEO?</div>
    <div class="why_content block-flex-top">
      <div class="why_content_item" >
        <img src="images/why-deo.png" alt="">
      </div>
      <div class="why_content_item" >
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
          <div class="point"></div>
          <div class="text">
            <span>Fast:</span>
             3 to 5 seconds transaction speed
          </div>
        </div>
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">
          <div class="point"></div>
          <div class="text">
            <span>Safe: </span>
            transactions will be verified by
            consensus amongst all the members
            in the network;

          </div>
        </div>
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="900">
          <div class="point"></div>
          <div class="text">
            <span>Transparent:</span>
             enter DESTO ecosystem
            with crypto or fiat, exit with crypto
            or fiat as well
          </div>
        </div>
      </div>
      <div class="why_content_item" >
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
          <div class="point"></div>
          <div class="text">
            <span>Affordable:</span>
             low transaction fee

          </div>
        </div>
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
          <div class="point"></div>
          <div class="text">
            <span>Tangible:</span>
             a straightforward debit
            card will be issued for the DESTO PAY
            users:

          </div>
        </div>
        <div class="why_content_item_items block-flex-top" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1000">
          <div class="point"></div>
          <div class="text">
            <span>Legal:</span>
             DESTO will invest in obtaining
            all the necessary DIgital Banking and
            Digital Payment licenses.

          </div>
        </div>
      </div>
    </div>
  </div>
</section>