{% include "blocks/base/_page-header.html" %}
{% include "blocks/header/_header-partners.html" %}
    <div class="main">
        <div class="page-inner">
            <div class="page-inner-title"><h2>Partners</h2></div>
            {% include "blocks/partners/_partners.html" %}
        </div>
        {% include "blocks/contact/_contact.html" %}
    </div>
{% include "blocks/footer/_footer.html" %}
{% include "blocks/base/_page-footer.html" %}