{% include "blocks/base/_page-header.html" %}
{% include "blocks/header/_header-team.html" %}
    <div class="main">
        <div class="page-inner">
            <div class="page-inner-title"><h2><span class="thin">The</span> team</h2></div>
            {% include "blocks/team/_team.html" %}
        </div>
        {% include "blocks/contact/_contact.html" %}
    </div>
{% include "blocks/footer/_footer.html" %}
{% include "blocks/base/_page-footer.html" %}