<header class="header home">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"><img src="images/logo.png"></a>
            <ul class="header-nav">
               <li class="active"><a class="link" href="index.html">main page</a></li>
               <li><a class="link" href="team.html">Team</a></li>
               <li><a class="link" href="roadmap.html">Project Roadmap</a></li>
               <li><a class="link" href="partners.html">Partners</a></li>
            </ul>

            <div class="header-menu">
                <a href="#contact" class="btn btn-border scroll-page">Contact us</a>
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>