<section class="section-roadmap">
    <div class="container">
        <div class="section-roadmap-year">
            <div class="section-roadmap-year-title prev">2017</div>

            <div class="section-roadmap-year-items">
                <div class="section-roadmap-item check">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">September</div>
                    <div class="text">
                        Conceptualization and identify a suitable use-case
                        in familiar industry
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item check">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">December</div>
                    <div class="text">
                        Startes research and development on blockchain
                        parameters and deciding identify the most suitable
                        consensus mechanism
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-roadmap-year">
            <div class="section-roadmap-year-title">2018</div>
            <div class="section-roadmap-year-items">
                <div class="section-roadmap-item check">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">January</div>
                    <div class="text">
                        Identify the Most Suitable Platform for building
                        blockchain, Designing the nodes and hosting of
                        nodes. White paper and pitch deck to be completed
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item check">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">February</div>
                    <div class="text">
                        Windows blockchain & Mac blockchain wallet and
                        website to be completed. Pre mining coin preparing
                        for seed level and pre-Ico. Setting up of Desto
                        Blockchain LLC in Delaware
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item active">
                    <div class="section-roadmap-item-body">
                        <div class="point"></div>
                        <div class="data">march</div>
                        <div class="text">
                            Demo version of Desto CX to be available. Mobile based
                            blockchain wallet to be commenced / Application for
                            license with Vanuatu, saint Vincent and USA. Taking
                            over of MSC company in Malaysia to host operations
                        </div>
                    </div>
                </div>
                <div class="section-roadmap-item">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">april</div>
                    <div class="text">
                        DESTRO PAY p2p in beta Version 1. Android
                        and IOS Crypro only
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">quarter 2 - quarter 3</div>
                    <div class="text">
                        Target beta launch of DECTO CX for public use of our crypto
                        exchange for crypto transactions and crypto to fiat transacions.
                        The launch of private seed funding and pre ICO, various
                        roadshows to be organized
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        Target while pre-ICO is launched.
                        Target soft cap achivement
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        DESTO PAY Version 2 with more features and basic
                        merchant free API and merchant signups program
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="data">septermber</div>
                    <div class="text">
                        Target launch ICO on exchange. FastTrack 1
                        achieved will proceed with fultilling all promised
                        application development
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        DESTRO RESERVE operation begins, by investment
                        into mining operations if regulations environment
                        is favorable
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        DESTO VENTURES begins shortlisting by identifying
                        new ICOs consistent with POA protocol for potential
                        underwrititng. Target Hard Cap achievement
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        Mobile App development moving at full speed,
                        with teams collaboration with Eastern Europe and
                        Asean developers on community mobile apps with
                        DESTO applications
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                    <div class="point"></div>
                    <div class="text">
                        Digital Payment Licenses will be purchued.
                        Japanese Virtual Currency License
                    </div>
                    </div>
                </div>
                <div class="section-roadmap-item">
                    <div class="section-roadmap-item-body">
                        <div class="point"></div>
                        <div class="data">december</div>
                        <div class="text">
                            Fast Track 2 and 3 achieved. Provide more room
                            for license applications
                        </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                        <div class="point"></div>
                        <div class="text">
                            Digital Banking License application from
                            Europe or FCA
                        </div>
                    </div>
                </div>
                <div class="section-roadmap-item point">
                    <div class="section-roadmap-item-body">
                        <div class="point"></div>
                        <div class="text">
                            More local crypto exchange licemse to be
                            explored and engaged
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-roadmap-year reserve">
                <div class="section-roadmap-year-title">2019</div>
                <div class="section-roadmap-year-items">
                    <div class="section-roadmap-item reserve"></div>
                    <div class="section-roadmap-item">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data">QUARTER 1</div>
                            <div class="text">
                                More acquisition of digital money license
                                <span>Europe & USA</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item point">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data"></div>
                            <div class="text">
                                DESTOP PAY Merchant implementation -
                                p2p payment, fiat to crypto, crypto to crypto,
                                and releases
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item point">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data"></div>
                            <div class="text">
                                DESTO VENTURE to lead new ICO to DESTO CX listing.
                                Target 10 solid POA candidates in 2019 alone
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data">QUARTER 2</div>
                            <div class="text">
                                DESTO RESERVES crypto storage launch,
                                DESTO COMMUNITY APP test phase, DESTO
                                RESERVE mining facilities deployment
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data">QUARTER 3</div>
                            <div class="text">
                                Further acquisition of identified nest gen disruptive
                                IT firm and ICOs, expected to complete Japanese
                                Virtual Currency License with full staff and compliance
                                director and crypto develoers based in Tokyo
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                            <div class="data">QUARTER 4</div>
                            <div class="text">
                                Further licensing and collaboration with governments
                                (Non-Disclosure) on crypto exchange and several
                                blockchain application related support. DESTO
                                COMMUNICATY APP BETA LAUNCH
                            </div>
                        </div>
                    </div>
                    <div class="section-roadmap-item null">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                        </div>
                    </div>
                    <div class="section-roadmap-item null">
                        <div class="section-roadmap-item-body">
                            <div class="point"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>